{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container">
<br>  <h1 class="text-center">Spotify & RaspberryPi Jukebox Dashboard</h1>
<hr>
<br>
<br>
<div class="row top-row">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<aside class="col-sm-12">
		<div class="card">
			<article class="card-body">
				<h4 class="card-title mb-4 mt-1">About</h4>
				<hr>
				<p>Welcome to the dashboard that controls the Jukebox! From here, you can write a Spotify URI to a NFC Card, Read from an NFC card to see what's on there and finall, update your username and password to login to Spotify.</p>
			</article>
		</div> <!-- card.// -->
	</aside>
</div>
<div class="row top-row">
	<aside class="col-sm-12">
		<div class="card">
			<article class="card-body cur_playing">
				<h4 class="card-title mb-4 mt-1">Currently Playing</h4>
				<hr>
				<h2 id="cur_track_title" class="cur_track_title"></h2>
				<h2 id="cur_track_artist"></h2>
				<h2 id="next_track_title"></h2>
				<h2 id="next_track_artist"></h2>
				<button id="next-button" class="btn btn-primary btn-block" onclick="nextSong()" > Next Song </button>
			</article>
		</div> <!-- card.// -->
	</aside>
</div>
<div class="row">
	<aside class="col-sm-4">
<div class="card">
<article class="card-body">
<h4 class="card-title mb-4 mt-1">Write URI to NFC Card</h4>
<hr>
  <form id="write-form" onsubmit="startWrite(); return false;">
	<div class="form-group">
    	<label>Enter Spotify URI</label>
        <input id="uri_input_box" name="" class="form-control" placeholder="Spotify URI" type="text" required>
	</div>
	<div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Write  </button>
    </div>
  </form>
  <h4 id="update_write_box" class="card-title mb-4 mt-1"></h4>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-sm-4">

<div class="card">
<article class="card-body">
	<h4 class="card-title mb-4 mt-1">Update Spotify Auth</h4>
	<hr>
	<form id="update-auth-form" action="{{ url_for('update_spotify_auth') }}" method="post">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input id="spotify-username" name="spotify-username" class="form-control" placeholder="Username" type="text">
			</div> <!-- input-group.// -->
			</div> <!-- form-group// -->
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
				<input id="spotify-password" name="spotify-password" class="form-control" placeholder="******" type="password">
			</div> <!-- input-group.// -->
		</div> <!-- form-group// -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"> Update  </button>
		</div> <!-- form-group// -->                                                                                            
	</form>
	<form id="update-client-app-form" action="{{ url_for('update_spotify_app_auth') }}" method="post">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input id="spotify-client-id" name="spotify-client-id" class="form-control" placeholder="Client ID" type="text">
			</div> <!-- input-group.// -->
			</div> <!-- form-group// -->
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
				<input id="spotify-client-secret" name="spotify-client-secret" class="form-control" placeholder="Client Secret" type="text">
			</div> <!-- input-group.// -->
		</div> <!-- form-group// -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"> Update  </button>
		</div> <!-- form-group// -->                                                                                            
	</form>
	<form id="sonos-room-form" action="{{ url_for('update_sonos_room') }}" method="post">
		<div class="form-group">
			<label>Enter Default Sonos Room</label>
			<input id="sonos-room" name="sonos-room" class="form-control" placeholder="Living Room" type="text" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"> Update  </button>
		</div>
	</form>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-sm-4">

<div class="card">
	<article class="card-body">
	<h4 class="card-title mb-4 mt-1">Read NFC Card</h4>
	<p class="text-center">Click on Read then place your RFID card next to the NFC reader</p>
	<hr>
		<form id="read-form" onsubmit="startRead(); return false;">
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"> Read </button>
		</div>
		</form>
		<h4 id="update_read_box" class="card-title mb-4 mt-1"></h4>
	</article>
	</div> <!-- card.// -->

	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div>

{% endblock %}
