[Unit]
Description=NFC READ Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 $READ_SCRIPT_PATH
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
