[Unit]
Description=JukeboxService
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/sonos-spotify-jukebox/read-service
ExecStart=/home/pi/sonos-spotify-jukebox/jukeboxenv/bin/python /home/pi/sonos-spotify-jukebox/read-service/Read.py
Restart=always

[Install]
WantedBy=multi-user.target