[Unit]
Description=ReadService
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/spotify-nfc-jukebox/src/scripts
ExecStart=/home/pi/spotify-nfc-jukebox/venv/bin/python ButtonRead.py
Restart=always

[Install]
WantedBy=multi-user.target
