[Unit]
Description=sonos-api
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node app.js
WorkingDirectory=/home/pi/spotify-nfc-jukebox/src/sonos-service
Restart=always

[Install]
WantedBy=multi-user.target
