[Unit]
Description=JukeboxService
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/spotify-nfc-jukebox/jukebox-service
ExecStart=/home/pi/spotify-nfc-jukebox/jukeboxenv/bin/python /home/pi/spotify-nfc-jukebox/jukebox-service/app.py
Restart=always

[Install]
WantedBy=multi-user.target
